<div id="footer" class="bg-dark">
  <div class="row">
    <div class="col">
      <h4>contact</h4>
      <i class="far fa-envelope fa-2x"></i>
      <span>totalyNotATestSite@yoda.sith</span>
      <p>
        <i class="fas fa-phone fa-2x"></i>00385 95 123 4569</p>
    </div>
    <div class="col">
      <h4>Find us on:</h4>
      <a href="#">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <br>
      <a href="#">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
  </div>
</div>
<% include ../partials/scripts %>