<div id="footer" class="bg-dark container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h4>contact</h4>
        <i class="far fa-envelope fa-2x"></i>
        <span>totalyNotATestSite@yoda.sith</span>
        <p>
          <i class="fas fa-phone fa-2x"></i>00385 95 123 4569</p>
      </div>
      <div class="col-xs-12 col-md-6">
        <h4>Find us on:</h4>
        <a href="https://www.facebook.com/JojoApartments/" target="_blank">
          <i class="fab fa-facebook fa-2x"></i></a><br>
        <a href="https://www.instagram.com/explore/locations/269758528/pag-primorsko-goranska-croatia/" target="_blank">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
