
.container{
    padding: 100px 0;
    color: #f8f9fa;
    
}
.image-container{
    width: 100%;
    min-height: 400px;
    background-position:left 40%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/img/mix/pagBridge.jpg");
}


.description-image {
    display: block;
    margin: auto;
    border-width:5px;
    border-style:solid;
    border-color:#f8f9fa;   
}
.image{
    padding: 15px;
}
.card-text{
    padding-top: 1rem;
    font-size: 1.3rem;
}
.card-subtitle{
    text-align: center;
    padding-top: 1rem;
}
.paral{
    background-image: url("/img/index/yardFilter.jpg");
    min-height: 400px;
    height: auto;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin:auto;
    overflow: hidden;
    display: inline-block;
}
.card-deck{
    color:#f8f9fa;
}
.pre-gallery{
    background-color: transparent;
    padding-top: 50px; 
    text-align: center;
    height: auto;
}

.pic-frame{
    background-color: transparent;
}
.pic-frame img {
    height: 500px;
    width: auto;
    border: 3px solid black;
    
}
.controls{
    height: auto;
    background-color: aqua;
    padding: 50px 0;
}
.controls > div {
    display: inline;
    
}