
.container > .row{
    color: #f8f9fa;
    
}
.paral> .container {
    padding: 50px 0;
}
.container  .col-lg-8 p,h3 {
    padding:0  15px ;
}
.image-container{
    min-height: 400px;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:auto;
    overflow: hidden;
    display: inline-block;
    background-image: url("/img/mix/pagBridge.jpg");
}


.description-image {
    display: block;
    margin: auto;
    border-width:5px;
    border-style:solid;
    border-color:#f8f9fa;   
}
.image{
    padding: 15px;
}
.card-text{
    padding-top: 1rem;
    font-size: 1.3rem;
}
.card-subtitle{
    text-align: center;
    padding-top: 1rem;
}
.paral{
    background-image: url("/img/index/yardFilter.jpg");
    min-height: 400px;
    height: auto;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin:auto;
    overflow: hidden;
    display: inline-block;
}
.card-deck{
    color:#f8f9fa;
}
.pre-gallery{
    background-color: transparent;
    padding-top: 50px; 
    text-align: center;
    height: auto;
}

.pic-frame{
    background-color: transparent;
}
.pic-frame img {
    height: 600px;
    width: auto;
    border: 3px solid black;
    
}
.controls{
    height: 50px;
    width: 350px;
    margin: 0 auto;
}
.controls > div {
    display: inline-block;
}
.prev{
    float: left;
    padding-left: 15px;
}

.prev:hover{
    color: #007bff;
}
.next:hover{
    color: #007bff;
}
.next{
    padding-right: 15px;
    float: right;
}
p{
    font-family: 'roboto',sans-serif;
    font-size: 1rem;
}
@media(max-width:768px){
    .pic-frame img {
        width: 100%;
        height: auto;
        display: block;
        border: 3px solid black;
    }
}