<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/404.css">            
</head>

<body>
    <% include ../partials/header %>
    <div class="container">
        <h3 class="h3-404">Oooooops. The page you requested could not be found :(</h3>
        <img src="../img/mix/404.gif" class="gif" alt="404">
    </div>
            
        <% include ../partials/footer %>
         <% include ../partials/scripts %>
</body>

</html>