<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <% include ../partials/header %>
</head>
<body>
        <% include ../partials/head %>
        <img src="../img/index/source.gif" alt="">
        <% include ../partials/footer %>
        <% include ../partials/scripts %>
</body>
</html>