<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/main.css">            
</head>

<body>
    <% include ../partials/header %>
    <div class="container" style="padding:100px 0;">
        <h3>Caution</h3>
        <p>Hello, it looks like you have entered the page from the link contained in my CV or github profile.</p>
        <p>Be aware that this is <strong>not</strong> a test site! All reservations and contact requests will be forwarded to site administrator.
        <br> With that in mind please do not use the contact form and the reservation section unless you plan on staying at Jo Jo apartments Pag</p>
        <p>Click the button below to continue to the home page</p>
        <a href="/" class="btn btn-danger">Continue</a>
    </div>

        <% include ../partials/footer %>
         <% include ../partials/scripts %>
</body>

</html>