<!DOCTYPE html>
<html lang="en">

<head>
    <%  include ../partials/head %>
    <link rel="stylesheet" href="/css/apartment.css">
</head>

<body>

    <%  include ../partials/header %>
    <div class="container-fluid">
            <div class="paral">
                <div class="image-container">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 image">
                            <img class="description-image" src="/img/Jonatan/img-description.jpg" alt="300x500">
                        </div>
                        <div class="col-lg-8">
                                <h3>Apartment Jonatan</h3>
                                <p>The Jonatan apartment has 4 beedroms.</p>
                                <p> The master beedroom has an onsuite and a king size bed with a memory foam mattress. The other
                                    three rooms feature a double bed. </p>
                                <p>
                                    All rooms have cable TV. All guests can use the outdoor grill.
                                </p>
                                <p>
                                    Price per night is 80€
                                </p>
                            <div class="card-deck">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="far fa-star fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">Stars</h4>
                                        <p class="card-text">4</p>
                                    </div>
                                </div>
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fa fa-key fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">Bedrooms</h4>
                                        <p class="card-text">4</p>
                                    </div>
                                </div>
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fas fa-shower fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">Bathrooms</h4>
                                        <p class="card-text">4</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-deck">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fas fa-utensils fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">Kitchen</h4>
                                        <p class="card-text">1</p>
                                    </div>
                                </div>
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fas fa-car fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">Parking</h4>
                                        <p class="card-text">4</p>
                                    </div>
                                </div>
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fas fa-tv fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">TV</h4>
                                        <p class="card-text">5</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pre-gallery">
                <div class="pic-frame">
                    <img class="gallery-active" src="../img/Josip/1.jpg" alt="image">
                    <div class="controls">
                        <div class="prev">
                            <i class="fa fa-caret-square-left fa-3x"></i>
                        </div>
                        <div class="next">
                            <i class="fa fa-caret-square-right fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    </div>
    <%  include ../partials/footer%>
    <%  include ../partials/scripts%>
    <script src="../js/gallery.js"></script>
</body>

</html>