<!DOCTYPE html>
<html lang="en">
<head>
     <%  include ../partials/head %>
</head>
<body>
    

    <div class="container-fluid">
        <%  include ../partials/header %>
        <div class="container">
        <div class="row">
            <div class="col-md-4 image" style="background-color:red;">
                <p>HALO</p>
                <p>HALO</p>
                <p>HALO</p>
                <p>HALO</p>
                <p>HALO</p>
                <p>HALO</p>
                    
                    
                
            </div>
            <div class="col-md-8" style="background-color:orange;">
                <p>HALO2</p>
            </div>
        </div>
        </div>
    </div>


    <%  include ../partials/footer%>

</body>
</html>