<!DOCTYPE html>
<html lang="en">

<head>
    <%  include ../partials/head %>
        <link rel="stylesheet" href="/css/apartment.css">
</head>

<body>

        
    <div class="container-fluid">
        <%  include ../partials/header %>
        
            <div class="paral">
                    <div class="image-container">
                        </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 image">
                            <img class="description-image" src="/img/Josip/img-description.jpg" alt="300x500">
                        </div>
                        <div class="col-lg-8">
                            <h3>Apartment Josip</h3>
                            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas a, amet, quo asperiores voluptatum
                                corrupti officiis dolorem saepe veniam nam id beatae fugiat ad reiciendis? Quo commodi voluptas
                                possimus saepe.</span>
                            <div class="card-deck">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="far fa-star fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">Stars</h4>
                                        <p class="card-text">4</p>
                                    </div>
                                </div>
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fa fa-key fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">Bedrooms</h4>
                                        <p class="card-text">3</p>
                                    </div>
                                </div>
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fas fa-shower fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">Bathrooms</h4>
                                        <p class="card-text">3</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-deck">
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fas fa-utensils fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">Kitchen</h4>
                                        <p class="card-text">1</p>
                                    </div>
                                </div>
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fas fa-car fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">Parking</h4>
                                        <p class="card-text">4</p>
                                    </div>
                                </div>
                                <div class="card bg-transparent">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <i class="fas fa-tv fa-3x"></i>
                                        </h4>
                                        <h4 class="card-subtitle">TV</h4>
                                        <p class="card-text">4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pre-gallery">
                <h3>test</h3>
            </div>
    </div>


    <%  include ../partials/footer%>

</body>

</html>